<h1>Payment Results</h1>

<h2>A
  <%= @user_provided_term %> year loan of <%= number_to_currency(@user_provided_pv)%>,
  with an annual interest rate of <%= @user_provided_APR %>%,
  requires a monthly payment of <%= number_to_currency(@monthlypayment) %>.
</h2>2>
