<h1>Payment Calculation</h1>

<form action="http://localhost:3000/payment/results">
  <div>
    <label for="users_APR">
      APR
    </label>
    <input id="users_APR" type="text" name="APR">
  </div>
  <div>
    <label for="users_term">
      Number of years
    </label>
    <input id="users_term" type="text" name="term">
  </div>
  <div>
    <label for="users_principal">
      Principal
    </label>
    <input id="users_principal" type="text" name="principal">
  </div>
  <button>Calculate monthly payment</button>
</form>
