<h1>Random Number Calculation</h1>

<form action="http://localhost:3000/random/results">
  <div>
    <label for="users_min">
      Minimum
    </label>
    <input id="users_min" type="text" name="min">
  </div>
  <div>
    <label for="users_max">
      Maximum
    </label>
    <input id="users_max" type="text" name="max">
  </div>
  <button>Pick random number</button>
</form>
