<h1>Random Number Results</h1>

<h2>A random number between <%= @user_provided_min %> and <%= @user_provided_max %> is <%= @random_number %></h2>

<a href="http://localhost:3000/random/results?min=@user_provided_min&max=@user_provided_max ">Recalculate</a>
